.html
{
font-size: 12px;
font-family:"Times New Roman", Times, serif;
}

.article
{
font-size:1.5rem;
}
main
{
  display: flex;
}
#footer
{
   position:absolute;
   bottom:0;
   width:100%;
   height:100px;
}
.container
  {
    display: flex;
    width: auto;
    margin: 0 auto;
    padding: 5px;
    height: auto;
    justify-content: space-between;
    flex-direction: column;
    background-color:lightgreen;
  }
